* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    color: #000000;
}

.grillaIndex {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.grilla {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ------------------header-------------------- */

.header {
    grid-area: header;
    background-color: #F8B4D4;
    font-weight: bold;
}

.logo img {
    width: 190px;
    margin: 20px;
    margin-right: 100px;
    transition: all 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

.menu li {
    list-style: none;
    padding: 12px;
    margin-right: 50px;
}

.menu a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
    padding-bottom: 2px;
}

.menu li a:hover {
    border-bottom: solid 2px #000000;
    color: #000000;
}

/* ------------------footer-------------------- */
.footer {
    grid-area: footer;
    background-color: #F8B4D4;
    font-weight: bold;
}

.datosContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

.datosContacto li {
    list-style: none;
    font-size: 35px;
}

.iconoWhatsapp {
    padding: 5px 250px;
    border-left: solid 2px #000000;
    border-right: solid 2px #000000;
    margin: 15px;
    padding-right: 12rem;
}

div .bordeMp {
    border-left: solid 2px #000000;
    margin: 15px;
    padding-left: 12rem;
}

div .bordeWp{
    padding: 0 5rem;
}

/* ------------------index-------------------- */
.mainIndex {
    grid-area: main;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.indexFotos {
    margin-top: 15px;
}

.index section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    margin: 40px;
    background-color: #F8B4D4;
    border: solid #000000 1px;
    border-radius: 8px;
    padding: 10px;
    max-width: 800px;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

/* ------------------servicios-------------------- */
.mainServicios {
    grid-area: main;
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div .cajaCosmiatria,
.cajaMaquillaje,
.cajaCosmetologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.titulos a {
    list-style: none;
    font-style: italic;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.titulos {
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
    transition: all 0.3s;
    margin-bottom: 15px;
}

.titulos:hover {
    transform: scale(1.2);
}

.imagenCosmiatria {
    border: solid 4px #e0cc56dc;
    border-radius: 18px;
    transform: skewX(-5deg);
}

.carousel-inner {
    border: solid 4px #e0cc56dc;
    border-radius: 18px;
    transform: skewX(-5deg);
}

.imagenCosmetologia {
    border: solid 4px #e0cc56dc;
    border-radius: 18px;
    transform: skewX(-5deg);
}

/* ------cosmiatria--maquillaje--cosmetologia------ */
.mainCosmiatria,
.mainMaquillaje,
.mainCosmetologia {
    grid-area: main;
}

.seccionCosmiatria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionCosmiatria h1 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 8px;
    font-style: italic;
}

.seccionCosmiatria section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

.seccionCosmiatria img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.seccionCosmiatria div {
    background-color: #ee8bb98e;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

.seccionMaquillaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionMaquillaje h1 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 8px;
    font-style: italic;
}

.seccionMaquillaje section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

.seccionMaquillaje img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.seccionMaquillaje div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

.seccionCosmetologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionCosmetologia h1 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 8px;
    font-style: italic;
}

.seccionCosmetologia section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

.seccionCosmetologia img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.seccionCosmetologia div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

/* ------------------Productos-------------------- */
.mainProductos {
    grid-area: main;
}

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    border: none;
    background-color: #F8B4D4;
}

.productos section {
    margin-top: 40px;
    margin-bottom: 40px;
    border: #000000 solid 1px;
    padding: 15px;
    background-color: #F8B4D4;
    border-radius: 8px;
    color: #000000;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

/* ------------------Preguntas frecuentes-------------------- */
.mainPreguntas {
    grid-area: main;
}

.preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.preguntasFrecuentes h1 {
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
    font-style: italic;
}

main div.cuadroPreguntas {
    margin-top: 20px;
    margin-bottom: 40px;
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

.cuadroPreguntas ul {
    padding-right: 40px;
    max-width: 1000px;
}

.cuadroPreguntas ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 2px #000000;
    text-decoration: none;
    margin-top: 15px;
}

.cuadroPreguntas ul p {
    font-size: 16px;
    margin-top: 20px;
    font-style: italic;
    background-color: #ee8bb9ab;
    padding: 5px;
    border: solid 1px #000000;
}

/* ------------------Contactanos-------------------- */
.mainContactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 510px;
    border: solid 2px #000000;
    border-radius: 10px;
    margin: 40px;
    background-color: #dddcdc75;
    box-shadow: 0  1rem 1.5rem rgba(0, 0, 0, 0.600);
}

.contactanos h1 {
    margin-top: 15px;
    font-style: italic;
}

.contactanos form textarea {
    width: 500px;
    height: 200px;
    border: solid 1px #000000;
    border-radius: 5px;
    margin-bottom: 35px;
    margin-top: 15px;
    resize: none;
    padding: 8px;
    font-size: 14px;
    background-color: #F8B4D4;
    text-align: center;
}

textarea:focus {
    transform: scale(1.1);
}

.datosCompletar input {
    background-color: #F8B4D4;
    border: solid 1px #000000;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 35px;
    padding: 5px;
    font-size: 14px;
    width: 240px;
    text-align: center;
}

input:focus {
    transform: scale(1.1);
}

.contactanos button {
    padding: 5px;
    transition: all 0.2s;
    font-size: 14px;
    width: 500px;
    border: solid 1px #000000;
    border-radius: 5px;
    background-color: #F8B4D4;
}

.contactanos button:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {

    .header nav {
        flex-direction: column;
        width: 100vw;
    }

    .header .logo img {
        width: 160px;
        margin-left: 100px;
    }

    .menu a {
        font-size: 13px;
        margin-right: -30px;
    }

    /* --------tamaño 768px------INDEX-------------- */
    .index section {
        max-width: 600px;
    }

    /* ------tamaño 768px------SERVICIOS---------- */

    .servicios {
        flex-direction: column;
    }

    .titulos a {
        font-size: 18px;
    }

    .imagen {
        width: 350px;
        height: 300px;
    }

    /* ------tamaño 768px------PREGUNTAS FRECUENTES---------- */

    .preguntasFrecuentes h1 {
        font-size: 20px;
    }

    .cuadroPreguntas ul li {
        font-size: 16.5px;
    }

    .cuadroPreguntas ul p {
        max-width: 600px;
        font-size: 14.5px;
    }

    /* ------tamaño 768px------CONTACTANOS---------- */

    .contactanos{
        width: 550px;
        height: 510px;
    }

    .contactanos form textarea{
        width: 480px;
    }

    textarea:focus {
        transform: scale(1.05);
    }

    .datosCompletar input {
        width: 230px;
    }

    .contactanos button {
        width: 480px;
    }

    .contactanos button:hover {
        transform: scale(1.05);
    }

    /* ------tamaño 768px------FOOTER---------- */

    .footer .datosContacto {
        justify-content: center;
    }

    .datosContacto li {
        font-size: 25px;
    }

    div .bordeIg {
        padding-right: 5rem;
    }

    div .bordeMp {
        padding-left: 5rem;
    }
}
    @media (max-width: 480px) {

        .header nav {
            flex-direction: row;
            align-items: center;
            width: 100vw;
        }

        .nav {
            width: 100vw;
        }

        .header button {
            margin-right: 15px;
            margin-left: 55px;
        }

        button .navbar-toggler-icon {
            width: 25px;
        }

        .header .logo img {
            width: 160px;
            padding-bottom: 10px;
            margin-left: 15px;
            margin-right: 5px;
        }

        .header .menu li {
            padding: 15px;
        }

        .header .menu a {
            font-size: 12px;
        }

        /* --------tamaño 480px------INDEX-------------- */

        .mainIndex {
            width: 100vw;
        }

        .index img {
            width: 310px;
            height: 310px;
        }

        .index section {
            max-width: 290px;
            font-size: 13px ;
        }

        /* ------tamaño 480px------SERVICIOS---------- */

        .mainServicios {
            width: 100vw;
        }

        .servicios {
            flex-direction: column;
        }

        .mainServicios h2 {
            padding: 4px;
        }

        .titulos a {
            font-size: 14px;
        }

        .imagenCosmetologia,
        .imagenCosmiatria {
            width: 275px;
            height: 255px;
        }

        .cajaMaquillaje img {
            width: 275px;
            height: 255px
        }

        /* ---tamaño 480px---cosmiatria-maquillaje-cosmetologia------ */

        .mainCosmiatria {
            width: 100vw;
        }

        .seccionCosmiatria h3 {
            font-size: 17px;
        }

        .seccionCosmiatria section {
            flex-direction: column;
            align-items: center;
            width: 250px;
        }

        .seccionCosmiatria div {
            margin-left: 1px;
            margin-top: 15px;
            font-size: 13px;
        }

        /* MAQUILLAJE */

        .mainMaquillaje {
            width: 100vw;
        }

        .seccionMaquillaje h3 {
            font-size: 17px;
        }

        .seccionMaquillaje section {
            flex-direction: column;
            align-items: center;
            width: 250px;
        }

        .seccionMaquillaje div {
            margin-left: 1px;
            margin-top: 15px;
            font-size: 13px;
        }

        /* COSMETOLOGIA */

        .mainCosmetologia {
            width: 100vw;
        }

        .seccionCosmetologia h3 {
            font-size: 17px;
        }

        .seccionCosmetologia section {
            flex-direction: column;
            align-items: center;
            width: 250px;
        }

        .seccionCosmetologia div {
            margin-left: 1px;
            margin-top: 15px;
            font-size: 13px;
        }

        /* ------tamaño 480px------PRODUCTOS---------- */

        .mainProductos {
            width: 100vw;
        }

        .productos section {
            flex-direction: column;
            align-items: center;
            width: 250px;
            padding: 8px;
        }

        .suero img {
            height: 200px;
            margin-bottom: 15px;
            margin-left: 65px;
        }

        .suero div p {
            margin-left: 1px;
            font-size: 14px;
        }

        .emulsiones img {
            width: 200px;
            height: 180px;
            margin-bottom: 15px;
            margin-left: 15px;
        }

        .emulsiones div p {
            margin-left: 1px;
            font-size: 13px;
        }

        .mascarillas img {
            width: 200px;
            height: 180px;
            margin-bottom: 15px;
            margin-left: 15px;
        }

        .mascarillas div p {
            margin-left: 1px;
            font-size: 13px;
        }

        /* ------tamaño 480px------PREGUNTAS FRECUENTES---------- */

        .mainPreguntas {
            width: 100vw;
        }

        .preguntasFrecuentes h1 {
            font-size: 17px;
            text-align: center;
        }

        .cuadroPreguntas ul li {
            font-size: 15.5px;
            text-align: center;
        }

        .cuadroPreguntas ul p {
            max-width: 300px;
            font-size: 13px;
            margin-top: 15px;
        }

        /* ------tamaño 480px------CONTACTANOS---------- */

        .mainContactanos {
            width: 100vw;
        }

        .contactanos{
            width: 280px;
            height: 410px;
        }
    
        .contactanos form textarea{
            width: 250px;
            height: 150px;
            font-size: 13px;
        }
    
        .datosCompletar input {
            width: 115px;
            font-size: 11px;
            margin-right: 10px;
        }
    
        .contactanos button {
            width: 250px;
            font-size: 13px;
        }

        /* ------tamaño 480px------FOOTER---------- */

        .footer {
            width: 100vw;
        }

        .footer .datosContacto {
            justify-content: center;
            align-items: flex-start;
        }

        .datosContacto li {
            font-size: 25px;
            margin-right: 35px;
        }

        div .bordeIg {
            padding-right: 1rem;
        }
    
        div .bordeMp {
            padding-left: 3rem;
        }

        div .bordeWp{
            padding: 15px 1rem 0 3rem; 
        }
    }