* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.grillaIndex {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.grilla {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

/* ------------------header-------------------- */

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #F8B4D4;
    font-weight: bold;
}

.logo img {
    width: 190px;
    margin: 15px;
    transition: all 0.3s;
}

.logo img:hover {
    transform: scale(1.1);
}

nav .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    list-style: none;
    padding: 12px;
    margin-right: 50px;
    display: inline
}

.menu a {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-style: italic;
}

.menu li a:hover {
    border-bottom: solid 2px #000000;
}

.subMenu {
    position: absolute;
    display: none;
    background-color: #ffffff;
    border: solid 1px #000000;
    border-radius: 5px;
    text-decoration: none;
}

/* ------------------footer-------------------- */
.footer {
    grid-area: footer;
    background-color: #F8B4D4;
    font-weight: bold;
}

.datosContacto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: center;
}

.datosContacto li {
    list-style: none;
    padding: 15px;
    font-size: 15px;
}

.datosContacto a {
    text-decoration: none;
    color: #000000;
}

.igFooter {
    width: 40px;
    margin-right: 4px;
}

.wpFooter {
    width: 30px;
    margin-right: 4px;
}

.ubFooter {
    width: 40px;
    margin-right: 4px;
}

/* ------------------index-------------------- */
.mainIndex {
    grid-area: main;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.indexFotos {
    width: 580px;
    height: 250px;
    border: solid 1px #000000;
    margin-top: 15px;
}

.index h3 {
    margin-top: 20px;
    background-color: #F8B4D4;
    border: solid #000000 1px;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 110px;
}

/* ------------------servicios-------------------- */
.mainServicios {
    grid-area: main;
}

.servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div .cajaCosmiatria,
.cajaMaquillaje,
.cajaCosmetologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titulos a {
    list-style: none;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

.titulos {
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
    transition: all 0.3s;
}

.titulos:hover {
    transform: scale(1.2);
}

.imagen {
    width: 390px;
    height: 340px;
    border: solid 4px #e0cc56dc;
    margin: 20px;
    border-radius: 18px;
}

.Cosmiatria {
    background-image: url(/img/cosmiatria.jpg);
    background-size: cover;
    transform: skewX(-5deg);
}

.Maquillaje {
    background-image: url(/img/Maquillajeok.jpg);
    background-size: cover;
    transform: skewX(-5deg);
}

.Cosmetologia {
    background-image: url(/img/perfilado-de-cejas.jpg);
    background-size: cover;
    transform: skewX(-5deg);
}

/* ------cosmiatria--maquillaje--cosmetologia------ */
.mainCosmiatria,
.mainMaquillaje,
.mainCosmetologia {
    grid-area: main;
}

.seccionCosmiatria {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionCosmiatria h3 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 10px;
}

.seccionCosmiatria section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px;
}

.seccionCosmiatria img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.seccionCosmiatria div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

.seccionMaquillaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionMaquillaje h3 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 10px;
}

.seccionMaquillaje section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px;
}

.seccionMaquillaje img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.seccionMaquillaje div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

.seccionCosmetologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionCosmetologia h3 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 10px;
}

.seccionCosmetologia section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px;
}

.seccionCosmetologia img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.seccionCosmetologia div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

/* ------------------Productos-------------------- */
.mainProductos {
    grid-area: main;
}

.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos h3 {
    margin-top: 30px;
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
    padding: 10px;
}

.productos section {
    display: flex;
    align-items: flex-start;
    background-color: #F8B4D4;
    width: 620px;
    border: solid 1px #000000;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    padding: 15px;
}

.suero img {
    height: 300px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.suero div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

.emulsiones img {
    width: 300px;
    height: 350px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.emulsiones div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

.mascarillas img {
    width: 300px;
    height: 350px;
    border: solid 1px #000000;
    border-radius: 8px;
}

.mascarillas div {
    background-color: #ee8bb9ab;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}

/* ------------------Preguntas frecuentes-------------------- */
.mainPreguntas {
    grid-area: main;
}

.preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.preguntasFrecuentes h2 {
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
}

main div.cuadroPreguntas {
    margin-top: 20px;
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

.cuadroPreguntas ul li {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid 2px #000000;
    text-decoration: none;
    margin-top: 15px;
}

.cuadroPreguntas ul p {
    font-size: 16px;
    margin-top: 20px;
    font-style: italic;
    background-color: #ee8bb9ab;
    padding: 5px;
    border: solid 1px #000000;
}

/* ------------------Contactanos-------------------- */
.contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.contactanos h2 {
    background-color: #F8B4D4;
    border: solid 2px #000000;
    border-radius: 10px;
    padding: 8px;
}

.contactanos form textarea {
    width: 500px;
    height: 200px;
    border: solid 1px #000000;
    border-radius: 5px;
    margin-bottom: 30px;
    resize: none;
    padding: 8px;
    font-size: 14px;
    margin-top: 40px;
}

textarea:focus {
    box-shadow: 0 4px 0 #F8B4D4;
    transform: scale(1.1);
}

.datosCompletar input {
    margin-right: 15px;
    margin-bottom: 35px;
    padding: 5px;
    font-size: 14px;
}

input:focus {
    box-shadow: 0 4px 0 #F8B4D4;
    transform: scale(1.1);
}

.contactanos button {
    padding: 5px;
    transition: all 0.2s;
    font-size: 14px;
}

button:hover {
    box-shadow: 0 4px 0 #F8B4D4;
    transform: scale(1.1);
}


@media (max-width: 768px) {

    .header {
        flex-direction: column;
    }

    .header .logo img {
        width: 160px;
        margin-right: 40px;
    }

    .header .menu a {
        font-size: 13px;
        margin-left: 12px;
    }

    /* --------tamaño 768px------INDEX-------------- */
    .indexFotos {
        width: 480px;
        height: 225px;
    }

    /* ------tamaño 768px------SERVICIOS---------- */

    .servicios {
        flex-direction: column;
    }

    .titulos a {
        font-size: 18px;
    }

    .imagen {
        width: 350px;
        height: 300px;
    }

    /* ------tamaño 768px------PREGUNTAS FRECUENTES---------- */

    .preguntasFrecuentes h2 {
        font-size: 20px;
    }

    .cuadroPreguntas ul li {
        font-size: 16.5px;
    }

    .cuadroPreguntas ul p {
        max-width: 600px;
        font-size: 14.5px;
    }

    /* ------tamaño 768px------CONTACTANOS---------- */

    .contactanos h2 {
        text-align: center;
        max-width: 600px;
        font-size: 20px;
    }

    /* ------tamaño 768px------FOOTER---------- */

    .footer .datosContacto {
        justify-content: center;
    }

    .footer .datosContacto li {
        font-size: 14px;
        margin-right: 25px;
    }

    .footer .igFooter,
    .ubFooter {
        width: 36px;
    }

    .footer .wpFooter {
        width: 26px;
    }

}


@media (max-width: 320px) {

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .logo img {
        width: 160px;
        margin-left: 82px;
        padding-bottom: 10px;
    }

    .header .menu {
        display: grid;
        grid-template-columns: 39px 63px 81px 70px 50px;
    }

    .header .menu li {
        padding: 2px;
        padding-bottom: 10px;
        margin-left: -9px;
    }

    .header .menu a {
        font-size: 10px;
    }

    /* --------tamaño 320px------INDEX-------------- */

    .index img {
        width: 280px;
        height: 160px;
    }

    /* ------tamaño 320px------SERVICIOS---------- */

    .servicios {
        flex-direction: column;
    }

    .mainServicios h2 {
        padding: 4px;
    }

    .titulos a {
        font-size: 14px;
    }

    .imagen {
        width: 250px;
        height: 230px;
    }

    /* ---tamaño 320px---cosmiatria-maquillaje-cosmetologia------ */

    .seccionCosmiatria h3 {
        font-size: 17px;
    }

    .seccionCosmiatria section {
        flex-direction: column;
        align-items: center;
        width: 250px;
    }

    .seccionCosmiatria div {
        margin-left: 1px;
        margin-top: 15px;
        font-size: 13px;
    }

    /* MAQUILLAJE */

    .seccionMaquillaje h3 {
        font-size: 17px;
    }

    .seccionMaquillaje section {
        flex-direction: column;
        align-items: center;
        width: 250px;
    }

    .seccionMaquillaje div {
        margin-left: 1px;
        margin-top: 15px;
        font-size: 13px;
    }

    /* COSMETOLOGIA */

    .seccionCosmetologia h3 {
        font-size: 17px;
    }

    .seccionCosmetologia section {
        flex-direction: column;
        align-items: center;
        width: 250px;
    }

    .seccionCosmetologia div {
        margin-left: 1px;
        margin-top: 15px;
        font-size: 13px;
    }

    /* ------tamaño 320px------PRODUCTOS---------- */

    .productos h3 {
        font-size: 18px;
    }

    .productos section {
        flex-direction: column;
        align-items: center;
        width: 250px;
        padding: 8px;
    }

    .suero img {
        height: 200px;
        margin-bottom: 15px;
    }

    .suero div {
        margin-left: 1px;
        font-size: 13px;
    }

    .emulsiones img {
        width: 200px;
        height: 180px;
        margin-bottom: 15px;
    }

    .emulsiones div {
        margin-left: 1px;
        font-size: 13px;
    }

    .mascarillas img {
        width: 200px;
        height: 180px;
        margin-bottom: 15px;
    }

    .mascarillas div {
        margin-left: 1px;
        font-size: 13px;
    }

    /* ------tamaño 320px------PREGUNTAS FRECUENTES---------- */

    .preguntasFrecuentes h2 {
        font-size: 17px;
        text-align: center;
    }

    .cuadroPreguntas ul li {
        font-size: 15.5px;
        text-align: center;
    }

    .cuadroPreguntas ul p {
        max-width: 600px;
        font-size: 13px;
        margin-top: 15px;
    }

    /* ------tamaño 320px------CONTACTANOS---------- */

    .contactanos h2 {
        font-size: 17px;
    }

    .contactanos form textarea {
        width: 250px;
        height: 150px;
        margin-bottom: 30px;
        font-size: 13px;
    }

    .datosCompletar input {
        font-size: 13px;
    }

    .contactanos button {
        font-size: 13px;
    }

    /* ------tamaño 320px------FOOTER---------- */

    .footer .datosContacto {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .footer .datosContacto li {
        font-size: 13px;
        padding: 8px;
    }

    .footer .igFooter,
    .ubFooter {
        width: 33px;
    }

    .footer .wpFooter {
        width: 25px;
        margin-left: 5px;
    }
}