* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #000000; }

.grilla {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.mainIndex .index section, .mainProductos .productos section, .mainPreguntas .preguntasFrecuentes h1, .mainPreguntas .preguntasFrecuentes .cuadroPreguntas, .mainContactanos .contactanos form textarea, .mainContactanos .contactanos form .datosCompletar input, .mainContactanos .contactanos form button, .mainCosmetologia .seccionCosmetologia h1, .mainCosmetologia .seccionCosmetologia section, .mainCosmiatria .seccionCosmiatria h1, .mainCosmiatria .seccionCosmiatria section, .mainMaquillaje .seccionMaquillaje h1, .mainMaquillaje .seccionMaquillaje section {
  background-color: #F8B4D4;
  border: solid #000000 2px;
  border-radius: 8px; }

.mainIndex .index section, .mainServicios .servicios .titulos a, .mainPreguntas .preguntasFrecuentes h1, .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul p, .mainCosmetologia .seccionCosmetologia h1, .mainCosmiatria .seccionCosmiatria h1, .mainMaquillaje .seccionMaquillaje h1 {
  font-style: italic;
  padding: 8px; }

.mainServicios .servicios .imagenCosmiatria,
.mainServicios .servicios .carousel-inner,
.mainServicios .servicios .imagenCosmetologia {
  border: solid 3px #000000dc;
  border-radius: 18px; }

.mainCosmetologia .seccionCosmetologia section div, .mainCosmiatria .seccionCosmiatria section div, .mainMaquillaje .seccionMaquillaje section div {
  background-color: #ee8bb98e;
  border: solid 1px #000000;
  margin-left: 20px;
  padding: 5px; }

.header {
  grid-area: header;
  background-color: #F8B4D4;
  font-weight: bold; }
  .header .logo img {
    width: 190px;
    margin: 20px;
    margin-right: 100px;
    transition: all 0.3s; }
    .header .logo img:hover {
      transform: scale(1.1); }
  .header .menu li {
    list-style: none;
    padding: 12px;
    margin-right: 50px; }
    .header .menu li a {
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      font-style: italic;
      padding-bottom: 2px; }
      .header .menu li a:hover {
        border-bottom: solid 2px #000000;
        color: #000000; }

@media (max-width: 768px) {
  .header nav {
    flex-direction: column;
    width: 100vw; }
  .header .logo {
    width: 160px;
    margin-right: 60px; }
  .header .menu ul li a {
    font-size: 13px;
    margin-right: -30px; } }

@media (max-width: 480px) {
  .header nav {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw; }
  .header .logo img {
    width: 160px;
    padding-bottom: 10px;
    margin-left: 10px; }
  .header button {
    margin-left: 15px; }
  .header .menu li {
    padding: 18px;
    text-align: center; }
    .header .menu li a {
      font-size: 12px; } }

.footer {
  grid-area: footer;
  background-color: #F8B4D4; }
  .footer .datosContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px; }
    .footer .datosContacto li {
      list-style: none;
      font-size: 35px; }
    .footer .datosContacto .bordeIg {
      border-right: solid 2px #000000;
      padding-right: 15rem; }
    .footer .datosContacto .bordeMp {
      border-left: solid 2px #000000;
      padding-left: 15rem; }

@media (max-width: 768px) {
  .footer .datosContacto li {
    font-size: 30px; }
  .footer .datosContacto .bordeMp {
    padding-left: 5rem; }
  .footer .datosContacto .bordeIg {
    padding-right: 5rem; } }

@media (max-width: 480px) {
  .footer .datosContacto {
    width: 100vw; }
    .footer .datosContacto li {
      font-size: 25px;
      margin-right: 2rem; }
    .footer .datosContacto .bordeMp {
      padding-left: 2rem; }
    .footer .datosContacto .bordeIg {
      padding-right: 2rem; } }

.mainIndex {
  grid-area: main;
  margin-top: 15px;
  margin-bottom: 40px; }
  .mainIndex .index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .mainIndex .index .indexFotos {
      margin-top: 15px; }
    .mainIndex .index section {
      text-align: center;
      max-width: 850px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
      margin-top: 40px; }

@media (max-width: 768px) {
  .mainIndex .index section {
    max-width: 600px; } }

@media (max-width: 480px) {
  .mainIndex {
    width: 100vw; }
    .mainIndex .index section {
      max-width: 290px;
      font-size: 13px; }
    .mainIndex .index img {
      width: 310px;
      height: 310px; } }

.mainServicios {
  grid-area: main; }
  .mainServicios .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainServicios .servicios .cajaCosmiatria,
    .mainServicios .servicios .cajaMaquillaje,
    .mainServicios .servicios .cajaCosmetologia {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 40px; }
    .mainServicios .servicios .titulos {
      background-image: linear-gradient(#F8B4D4, #fa64aa);
      border: solid #000000 2px;
      border-radius: 8px;
      padding: 5px;
      transition: all 0.3s;
      margin-bottom: 20px;
      transform: skewX(-5deg); }
      .mainServicios .servicios .titulos a {
        list-style: none;
        font-size: 18px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none; }
      .mainServicios .servicios .titulos:hover {
        transform: scale(1.15); }

@media (max-width: 768px) {
  .mainServicios .servicios {
    flex-direction: column; }
  .mainServicios .cajaCosmetologia img,
  .mainServicios .cajaCosmiatria img,
  .mainServicios .cajaMaquillaje img {
    width: 350px;
    height: 300px; }
  .mainServicios .cajaCosmetologia .titulos a,
  .mainServicios .cajaCosmiatria .titulos a,
  .mainServicios .cajaMaquillaje .titulos a {
    font-size: 18px; } }

@media (max-width: 480px) {
  .mainServicios .servicios {
    width: 100vw;
    flex-direction: column; }
  .mainServicios .cajaCosmetologia img,
  .mainServicios .cajaCosmiatria img,
  .mainServicios .cajaMaquillaje img {
    width: 275px;
    height: 255px; }
  .mainServicios .cajaCosmetologia .titulos,
  .mainServicios .cajaCosmiatria .titulos,
  .mainServicios .cajaMaquillaje .titulos {
    padding: 4px; }
    .mainServicios .cajaCosmetologia .titulos a,
    .mainServicios .cajaCosmiatria .titulos a,
    .mainServicios .cajaMaquillaje .titulos a {
      font-size: 14px; } }

.mainProductos {
  grid-area: main; }
  .mainProductos .productos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainProductos .productos section {
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 15px;
      color: #000000;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
    .mainProductos .productos .card {
      border: none;
      background-color: #F8B4D4; }

@media (max-width: 480px) {
  .mainProductos {
    width: 100vw; }
    .mainProductos .productos section {
      flex-direction: column;
      align-items: center;
      width: 250px;
      padding: 8px; }
      .mainProductos .productos section .card-text {
        margin-left: 1px;
        font-size: 13px; }
    .mainProductos .productos .mascarillas img {
      width: 200px;
      height: 180px;
      margin-bottom: 15px;
      margin-left: 15px; }
    .mainProductos .productos .emulsiones img {
      width: 200px;
      height: 180px;
      margin-bottom: 15px;
      margin-left: 15px; }
    .mainProductos .productos .suero img {
      height: 200px;
      margin-bottom: 15px;
      margin-left: 65px; } }

.mainPreguntas {
  grid-area: main; }
  .mainPreguntas .preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px; }
    .mainPreguntas .preguntasFrecuentes .cuadroPreguntas {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 8px;
      text-decoration: none;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul {
        padding-right: 40px;
        max-width: 1000px; }
        .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul li {
          display: inline-block;
          font-size: 18px;
          font-weight: bold;
          border-bottom: solid 2px #000000;
          text-decoration: none;
          margin-top: 15px; }
        .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul p {
          font-size: 16px;
          margin-top: 20px;
          background-color: #ee8bb9ab;
          border: solid 1px #000000; }

@media (max-width: 768px) {
  .mainPreguntas h1 {
    font-size: 20px; }
  .mainPreguntas .cuadroPreguntas ul li {
    font-size: 16.5px; }
  .mainPreguntas .cuadroPreguntas ul p {
    max-width: 600px;
    font-size: 14.5px; } }

@media (max-width: 480px) {
  .mainPreguntas {
    width: 100vw; }
    .mainPreguntas h1 {
      font-size: 17px;
      text-align: center; }
    .mainPreguntas .cuadroPreguntas {
      max-width: 280px;
      text-align: center; }
      .mainPreguntas .cuadroPreguntas ul li {
        font-size: 15.5px; }
      .mainPreguntas .cuadroPreguntas ul p {
        font-size: 13px; } }

.mainContactanos {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainContactanos .contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 510px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 2px #000000;
    border-radius: 8px;
    background-color: #b9b9b975;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
    .mainContactanos .contactanos h1 {
      margin-top: 15px;
      font-style: italic; }
    .mainContactanos .contactanos form textarea {
      margin-top: 15px;
      margin-bottom: 35px;
      width: 500px;
      height: 200px;
      resize: none;
      padding: 8px;
      font-size: 14px;
      text-align: center; }
      .mainContactanos .contactanos form textarea:focus {
        transform: scale(1.1); }
    .mainContactanos .contactanos form .datosCompletar input {
      margin-right: 15px;
      margin-bottom: 35px;
      padding: 5px;
      font-size: 14px;
      width: 240px;
      text-align: center; }
      .mainContactanos .contactanos form .datosCompletar input:focus {
        transform: scale(1.1); }
    .mainContactanos .contactanos form button {
      padding: 5px;
      font-size: 14px;
      width: 500px;
      transition: all 0.2s; }
      .mainContactanos .contactanos form button:hover {
        transform: scale(1.1); }

@media (max-width: 768px) {
  .mainContactanos .contactanos {
    width: 550px;
    height: 510px; }
    .mainContactanos .contactanos form textarea {
      width: 480px; }
      .mainContactanos .contactanos form textarea:focus {
        transform: scale(1.05); }
    .mainContactanos .contactanos form button {
      width: 480px; }
      .mainContactanos .contactanos form button:hover {
        transform: scale(1.05); }
    .mainContactanos .contactanos form .datosCompletar input {
      width: 230px; } }

@media (max-width: 480px) {
  .mainContactanos {
    width: 100vw; }
    .mainContactanos .contactanos {
      width: 280px;
      height: 410px; }
      .mainContactanos .contactanos form textarea {
        width: 250px;
        height: 150px;
        font-size: 13px; }
      .mainContactanos .contactanos form button {
        width: 250px;
        font-size: 13px; }
      .mainContactanos .contactanos form .datosCompletar input {
        width: 115px;
        font-size: 11px;
        margin-right: 10px; } }

.mainCosmetologia {
  grid-area: main; }
  .mainCosmetologia .seccionCosmetologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; }
    .mainCosmetologia .seccionCosmetologia section {
      display: flex;
      align-items: flex-start;
      width: 620px;
      margin-top: 40px;
      padding: 15px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainCosmetologia .seccionCosmetologia section img {
        height: 300px;
        border: solid 1px #000000;
        border-radius: 8px; }

@media (max-width: 768px) {
  .mainCosmetologia .seccionCosmetologia section {
    flex-direction: column;
    align-items: center; }
    .mainCosmetologia .seccionCosmetologia section div {
      margin-left: 1px;
      margin-top: 15px; } }

@media (max-width: 480px) {
  .mainCosmetologia .seccionCosmetologia h4 {
    font-size: 17px; }
  .mainCosmetologia .seccionCosmetologia section {
    flex-direction: column;
    align-items: center;
    width: 250px; }
    .mainCosmetologia .seccionCosmetologia section div {
      margin-left: 1px;
      margin-top: 15px;
      font-size: 13px; } }

.mainCosmiatria {
  grid-area: main; }
  .mainCosmiatria .seccionCosmiatria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; }
    .mainCosmiatria .seccionCosmiatria section {
      display: flex;
      align-items: flex-start;
      width: 620px;
      margin-top: 40px;
      padding: 15px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainCosmiatria .seccionCosmiatria section img {
        height: 300px;
        border: solid 1px #000000;
        border-radius: 8px; }

@media (max-width: 768px) {
  .mainCosmiatria .seccionCosmiatria section {
    flex-direction: column;
    align-items: center; }
    .mainCosmiatria .seccionCosmiatria section div {
      margin-left: 1px;
      margin-top: 15px; } }

@media (max-width: 480px) {
  .mainCosmiatria .seccionCosmiatria h4 {
    font-size: 17px; }
  .mainCosmiatria .seccionCosmiatria section {
    flex-direction: column;
    align-items: center;
    width: 250px; }
    .mainCosmiatria .seccionCosmiatria section div {
      margin-left: 1px;
      margin-top: 15px;
      font-size: 13px; } }

.mainMaquillaje {
  grid-area: main; }
  .mainMaquillaje .seccionMaquillaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; }
    .mainMaquillaje .seccionMaquillaje section {
      display: flex;
      align-items: flex-start;
      width: 620px;
      margin-top: 40px;
      padding: 15px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainMaquillaje .seccionMaquillaje section img {
        height: 300px;
        border: solid 1px #000000;
        border-radius: 8px; }

@media (max-width: 768px) {
  .mainMaquillaje .seccionMaquillaje section {
    flex-direction: column;
    align-items: center; }
    .mainMaquillaje .seccionMaquillaje section div {
      margin-left: 1px;
      margin-top: 15px; } }

@media (max-width: 480px) {
  .mainMaquillaje .seccionMaquillaje h4 {
    font-size: 17px; }
  .mainMaquillaje .seccionMaquillaje section {
    flex-direction: column;
    align-items: center;
    width: 250px; }
    .mainMaquillaje .seccionMaquillaje section div {
      margin-left: 1px;
      margin-top: 15px;
      font-size: 13px; } }
