* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: #000000; }

.grilla {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }

.mainIndex .index section, .mainServicios .servicios .titulos, .mainProductos .productos section, .mainPreguntas .preguntasFrecuentes h1, .mainPreguntas .preguntasFrecuentes .cuadroPreguntas, .mainContactanos .contactanos form textarea, .mainContactanos .contactanos form .datosCompletar input, .mainContactanos .contactanos form button, .mainCosmetologia .seccionCosmetologia h1, .mainCosmetologia .seccionCosmetologia section, .mainCosmiatria .seccionCosmiatria h1, .mainCosmiatria .seccionCosmiatria section, .mainMaquillaje .seccionMaquillaje h1, .mainMaquillaje .seccionMaquillaje section {
  background-color: #F8B4D4;
  border: solid #000000 2px;
  border-radius: 8px; }

.mainIndex .index section, .mainServicios .servicios .titulos a, .mainPreguntas .preguntasFrecuentes h1, .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul p, .mainCosmetologia .seccionCosmetologia h1, .mainCosmiatria .seccionCosmiatria h1, .mainMaquillaje .seccionMaquillaje h1 {
  font-style: italic;
  padding: 8px; }

.mainServicios .servicios .imagenCosmiatria,
.mainServicios .servicios .carousel-inner,
.mainServicios .servicios .imagenCosmetologia {
  border: solid 4px #e0cc56dc;
  border-radius: 18px;
  transform: skewX(-5deg); }

.mainCosmetologia .seccionCosmetologia section div, .mainCosmiatria .seccionCosmiatria section div, .mainMaquillaje .seccionMaquillaje section div {
  background-color: #ee8bb98e;
  border: solid 1px #000000;
  margin-left: 20px;
  padding: 5px; }

.header {
  grid-area: header;
  background-color: #F8B4D4;
  font-weight: bold; }
  .header .logo img {
    width: 190px;
    margin: 20px;
    margin-right: 100px;
    transition: all 0.3s; }
    .header .logo img:hover {
      transform: scale(1.1); }
  .header .menu li {
    list-style: none;
    padding: 12px;
    margin-right: 50px; }
    .header .menu li a {
      color: #000000;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      font-style: italic;
      padding-bottom: 2px; }
      .header .menu li a:hover {
        border-bottom: solid 2px #000000;
        color: #000000; }

.footer {
  grid-area: footer;
  background-color: #F8B4D4; }
  .footer .datosContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px; }
    .footer .datosContacto li {
      list-style: none;
      font-size: 35px; }
    .footer .datosContacto .bordeIg {
      border-right: solid 2px #000000;
      padding-right: 15rem; }
    .footer .datosContacto .bordeMp {
      border-left: solid 2px #000000;
      padding-left: 15rem; }

.mainIndex {
  grid-area: main;
  margin-top: 15px;
  margin-bottom: 40px; }
  .mainIndex .index {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
    .mainIndex .index .indexFotos {
      margin-top: 15px; }
    .mainIndex .index section {
      text-align: center;
      max-width: 850px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6);
      margin-top: 40px; }

.mainServicios {
  grid-area: main; }
  .mainServicios .servicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .mainServicios .servicios div .cajaCosmiatria,
    .mainServicios .servicios .cajaMaquillaje,
    .mainServicios .servicios .cajaCosmetologia {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
      margin-bottom: 40px; }
    .mainServicios .servicios .titulos {
      padding: 10px;
      transition: all 0.3s;
      margin-bottom: 15px; }
      .mainServicios .servicios .titulos a {
        list-style: none;
        font-size: 18px;
        color: #000000;
        text-transform: uppercase;
        text-decoration: none; }
      .mainServicios .servicios .titulos:hover {
        transform: scale(1.15); }

.mainProductos {
  grid-area: main; }
  .mainProductos .productos {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainProductos .productos section {
      margin-top: 40px;
      margin-bottom: 40px;
      padding: 15px;
      color: #000000;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
    .mainProductos .productos .card {
      border: none;
      background-color: #F8B4D4; }

.mainPreguntas {
  grid-area: main; }
  .mainPreguntas .preguntasFrecuentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px; }
    .mainPreguntas .preguntasFrecuentes .cuadroPreguntas {
      margin-top: 20px;
      margin-bottom: 40px;
      padding: 8px;
      text-decoration: none;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul {
        padding-right: 40px;
        max-width: 1000px; }
        .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul li {
          display: inline-block;
          font-size: 18px;
          font-weight: bold;
          border-bottom: solid 2px #000000;
          text-decoration: none;
          margin-top: 15px; }
        .mainPreguntas .preguntasFrecuentes .cuadroPreguntas ul p {
          font-size: 16px;
          margin-top: 20px;
          background-color: #ee8bb9ab;
          border: solid 1px #000000; }

.mainContactanos {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .mainContactanos .contactanos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 510px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid 2px #000000;
    border-radius: 8px;
    background-color: #dddcdc75;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
    .mainContactanos .contactanos h1 {
      margin-top: 15px;
      font-style: italic; }
    .mainContactanos .contactanos form textarea {
      margin-top: 15px;
      margin-bottom: 35px;
      width: 500px;
      height: 200px;
      resize: none;
      padding: 8px;
      font-size: 14px;
      text-align: center; }
      .mainContactanos .contactanos form textarea:focus {
        transform: scale(1.1); }
    .mainContactanos .contactanos form .datosCompletar input {
      margin-right: 15px;
      margin-bottom: 35px;
      padding: 5px;
      font-size: 14px;
      width: 240px;
      text-align: center; }
      .mainContactanos .contactanos form .datosCompletar input:focus {
        transform: scale(1.1); }
    .mainContactanos .contactanos form button {
      padding: 5px;
      font-size: 14px;
      width: 500px;
      transition: all 0.2s; }
      .mainContactanos .contactanos form button:hover {
        transform: scale(1.1); }

.mainCosmetologia {
  grid-area: main; }
  .mainCosmetologia .seccionCosmetologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; }
    .mainCosmetologia .seccionCosmetologia section {
      display: flex;
      align-items: flex-start;
      width: 620px;
      margin-top: 40px;
      padding: 15px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainCosmetologia .seccionCosmetologia section img {
        height: 300px;
        border: solid 1px #000000;
        border-radius: 8px; }

.mainCosmiatria {
  grid-area: main; }
  .mainCosmiatria .seccionCosmiatria {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; }
    .mainCosmiatria .seccionCosmiatria section {
      display: flex;
      align-items: flex-start;
      width: 620px;
      margin-top: 40px;
      padding: 15px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainCosmiatria .seccionCosmiatria section img {
        height: 300px;
        border: solid 1px #000000;
        border-radius: 8px; }

.mainMaquillaje {
  grid-area: main; }
  .mainMaquillaje .seccionMaquillaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px; }
    .mainMaquillaje .seccionMaquillaje section {
      display: flex;
      align-items: flex-start;
      width: 620px;
      margin-top: 40px;
      padding: 15px;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.6); }
      .mainMaquillaje .seccionMaquillaje section img {
        height: 300px;
        border: solid 1px #000000;
        border-radius: 8px; }
