%estiloCard {
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
}

%estiloTexto {
    font-style: italic;
    text-align: center;
}

%estiloServicios {
    border: solid 4px #e0cc56dc;
    border-radius: 18px;
    transform: skewX(-5deg);
}