%estiloCard {
    background-color: #F8B4D4;
    border: solid #000000 2px;
    border-radius: 8px;
}

%estiloTexto {
    font-style: italic;
    padding: 8px;
}

%estiloServicios {
    border: solid 3px #000000dc;
    border-radius: 18px;
}

%cosmiatriaCosmetologiaMaquillaje {
    background-color: #ee8bb98e;
    border: solid 1px #000000;
    margin-left: 20px;
    padding: 5px;
}