.mainCosmiatria {
    grid-area: main;

    .seccionCosmiatria {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include margin-top-bottom (30px, 40px);

        h1 {
            @extend %estiloCard;
            @extend %estiloTexto;
        }

        section {
            display: flex;
            align-items: flex-start;
            @extend %estiloCard;
            width: 620px;
            margin-top: 40px;
            padding: 15px;
            box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.600);

            img {
                height: 300px;
                border: solid 1px #000000;
                border-radius: 8px;
            }

            div {
                @extend %cosmiatriaCosmetologiaMaquillaje;
            }
        }
    }
}

@media (max-width: 768px) {

    .mainCosmiatria {
        .seccionCosmiatria {
            section {
                flex-direction: column;
                align-items: center;

                div {
                    margin-left: 1px;
                    margin-top: 15px;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .mainCosmiatria {
        .seccionCosmiatria {
            h4 {
                font-size: 17px;
            }

            section {
                flex-direction: column;
                align-items: center;
                width: 250px;

                div {
                    margin-left: 1px;
                    margin-top: 15px;
                    font-size: 13px;
                }
            }
        }
    }
}