.mainServicios {
    grid-area: main;
    min-height: 85vh;

    .servicios {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .cajaCosmiatria,
        .cajaMaquillaje,
        .cajaCosmetologia {
            display: flex;
            flex-direction: column;
            align-items: center;
            @include margin-top-bottom (40px, 40px);
        }

        .titulos {
            background-image: linear-gradient(#F8B4D4, #fa64aa);
            border: solid #000000 2px;
            border-radius: 8px;
            padding: 5px;
            transition: all 0.3s;
            margin-bottom: 20px;
            transform: skewX(-5deg);

            a {
                list-style: none;
                @extend %estiloTexto;
                font-size: 18px;
                color: #000000;
                text-transform: uppercase;
                text-decoration: none;
            }

            &:hover {
                transform: scale(1.15);
            }
        }

        .imagenCosmiatria,
        .carousel-inner,
        .imagenCosmetologia {
            @extend %estiloServicios;
        }
    }
}

@media (max-width: 768px) {

    .mainServicios {
        .servicios {
            flex-direction: column;
        }

        .cajaCosmetologia,
        .cajaCosmiatria,
        .cajaMaquillaje {
            img {

                @include width-height (350px, 300px);
            }

            .titulos {
                a {
                    font-size: 18px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .mainServicios {
        .servicios {
            width: 100vw;
            flex-direction: column;
        }

        .cajaCosmetologia,
        .cajaCosmiatria,
        .cajaMaquillaje {
            img {
                @include width-height (275px, 255px);
            }

            .titulos {
                padding: 4px;

                a {
                    font-size: 14px;
                }
            }
        }
    }
}