.footer {
    grid-area: footer;
    background-color: #F8B4D4;

    .datosContacto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 15px;
    
        li {
            list-style: none;
            font-size: 35px; 
        }

        .bordeIg{
            border-right: solid 2px #000000;
            padding-right: 15rem;
        }
        
        .bordeMp{
            border-left: solid 2px #000000;
            padding-left: 15rem;
        }
    }
}